*.iml
.gradle
.idea
.DS_Store
dogfood/ios/Pulsepond.xcframework
dogfood/ios/Tests/PulsepondDogfoodTests/Fixtures/config.json
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
#So we don't accidentally commit our private keys
*.gpg
